option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: "production"

        #== APP
        PORT: "3000"
        FALLBACK_LANGUAGE: "en_US"
        ENABLE_ORM_LOGS: "true"
        ENABLE_DOCUMENTATION: "true"
        API_VERSION: "v1.0.0"
        REGION: "KR"

        #== JWT Auth
        JWT_EXPIRATION_TIME: "3600"
        JWT_PRIVATE_KEY: "MIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEAiqMCux9UPZJJo/zTCzkOC2pm0TUYThYzFVia7Rxc14dwgcsfLZx+7onmaF7dh0TBJpay+63ZQjt30LQfUxKz+wIDAQABAkBIfHa/E+Bd2RD71wMZiRlYyqc7l4E/wseuz4chloTMg1NB4KtAFKhDpWkg95TKFD4LFGb+vKUCAp7c2fKKlG5BAiEA2VCGqRi1E9qmeStQ2q/DLv/Hzhg4hWjkEXEHNYodAMsCIQCjUPmItWkr3v8UE8PPsrnyJMH/p+rc1OgL0I498uyjkQIgQ+IbrobBScprZj5Zq3ZsCipsR7zZKxNw6uHb1qWmGbECIQCQHj/mBPiHT2TXac2s9nIinY9YtOyL7ZHMA0HSpxFuEQIhAK5ErJHmHQMonsvIDnDezyRNkLw4r3ml+9zDZBhzLnxZ"
        JWT_PUBLIC_KEY: "MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAIqjArsfVD2SSaP80ws5DgtqZtE1GE4WMxVYmu0cXNeHcIHLHy2cfu6J5mhe3YdEwSaWsvut2UI7d9C0H1MSs/sCAwEAAQ=="

        #== DB
        DB_TYPE: "postgres"
        DB_HOST: "localhost"
        DB_PORT: "5432"
        DB_USERNAME: "postgres"
        DB_PASSWORD: "postgres"
        DB_DATABASE: "nestjs_boilerplate"

        #== AWS
        AWS_S3_ACCESS_KEY_ID: ""
        AWS_S3_SECRET_ACCESS_KEY: ""
        AWS_S3_BUCKET_REGION: "ap-northeast-2"
        AWS_S3_API_VERSION: "2010-12-01"
        AWS_S3_BUCKET_NAME: "nest-boilerplate-bucket"

        #== NATS
        NATS_ENABLED: "false"
        NATS_HOST: "localhost"
        NATS_PORT: "4222"

        #== Redis
        REDIS_CACHE_ENABLED: "true"
        REDIS_HOST: "localhost"
        REDIS_PORT: "6379"

        #== Adminjs
        ADMIN_USERNAME: "admin"
        ADMIN_PASSWORD: "1234"
