option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: "production"

        #== APP
        PORT: "3000"
        FALLBACK_LANGUAGE: "en_US"
        ENABLE_ORM_LOGS: "true"
        ENABLE_DOCUMENTATION: "true"
        API_VERSION: "v1.0.0"
        REGION: "KR"

        #== JWT Auth
        JWT_EXPIRATION_TIME: "3600"
        JWT_PRIVATE_KEY: `-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAK0KmXZvVRmyCew3tSz5UfMF/8u3KZu/1CkUUUlKIk+LCY+s6vgg\nI1F5dzYoTau7Xp/BwuWNS9+61PrT+zZ7gj8CAwEAAQJAFIzIstb/7UBGi2YGPyQQ\nxmK1ARVsfJGoeYRvLtv9/SIc7WvHiFVNci+8gbP8LNb1ymlrW3L6G6DXWgxoIwUe\n0QIhANagsY5G4GThEmhfzVn7q4tUXeKRJe3KrwgS1Lqxs8/HAiEAzmW7fKjuxUO6\nnT8AiQYrTXGjCXMD8u6yCcsXwCjFqckCIQC+IMwphY/yzY9I9tUrCU8Ftk8VDg/T\nfuFe/Y+FczYesQIgKMfXDKGAU/+23pz1KR3L7ohWc2aDUDuzd9XmAnTL4WkCIHpK\nEUtPHalUFw9WlEnEOatz1GPMIUxWqlkDoNZYfADb\n-----END RSA PRIVATE KEY-----`
        JWT_PUBLIC_KEY: `-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK0KmXZvVRmyCew3tSz5UfMF/8u3KZu/\n1CkUUUlKIk+LCY+s6vggI1F5dzYoTau7Xp/BwuWNS9+61PrT+zZ7gj8CAwEAAQ==\n-----END PUBLIC KEY-----`

        #== DB
        DB_TYPE: "postgres"
        DB_HOST: "localhost"
        DB_PORT: "5432"
        DB_USERNAME: "postgres"
        DB_PASSWORD: "postgres"
        DB_DATABASE: "nestjs_payment"

        #== AWS
        AWS_S3_ACCESS_KEY_ID: ""
        AWS_S3_SECRET_ACCESS_KEY: ""
        AWS_S3_BUCKET_REGION: "ap-northeast-2"
        AWS_S3_API_VERSION: "2010-12-01"
        AWS_S3_BUCKET_NAME: "nest-boilerplate-bucket"

        #== NATS
        NATS_ENABLED: "false"
        NATS_HOST: "localhost"
        NATS_PORT: "4222"

        #== Redis
        REDIS_CACHE_ENABLED: "true"
        REDIS_HOST: "localhost"
        REDIS_PORT: "6379"

        #== Adminjs
        ADMIN_USERNAME: "admin"
        ADMIN_PASSWORD: "1234"

        #== Adminjs
        ADMIN_USERNAME: ""
        ADMIN_PASSWORD: ""
        SERVICE_TITLE: "Payment Admin"
        COMPANY_TITLE: "Company Name"
        COOKIE_NAME: ""
        COOKIE_PASSWORD: ""

        #== Iamport
        IMP_KEY: ""
        IMP_SECRET: ""

        #== Crypto
        CRYPTO_PRIVATE_KEY: ""

