option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: "production"

        #== APP
        PORT: "3000"
        FALLBACK_LANGUAGE: "en_US"
        ENABLE_ORM_LOGS: "false"
        ENABLE_DOCUMENTATION: "true"
        API_VERSION: "v1.0.0"
        REGION: "KR"

        #== JWT Auth
        JWT_EXPIRATION_TIME: "3600"
        JWT_PRIVATE_KEY: ""
        JWT_PUBLIC_KEY: ""
        JWT_SECRET: "nZr4u7x!A%D*F-JaNdRgUkXp2s5v8y/B?E(H+KbPeShVmYq3t6w9z$C&F)J@NcQf"

        #== DB
        DB_TYPE: "postgres"
        DB_HOST: "localhost"
        DB_PORT: "5432"
        DB_USERNAME: "postgres"
        DB_PASSWORD: "postgres"
        DB_DATABASE: "nestjs_payment"

        #== AWS
        AWS_S3_ACCESS_KEY_ID: ""
        AWS_S3_SECRET_ACCESS_KEY: ""
        AWS_S3_BUCKET_REGION: "ap-northeast-2"
        AWS_S3_API_VERSION: "2010-12-01"
        AWS_S3_BUCKET_NAME: "nest-boilerplate-bucket"

        #== NATS
        NATS_ENABLED: "false"
        NATS_HOST: "localhost"
        NATS_PORT: "4222"

        #== Redis
        REDIS_CACHE_ENABLED: "true"
        REDIS_HOST: "localhost"
        REDIS_PORT: "6379"

        #== Adminjs
        ADMIN_USERNAME: "admin"
        ADMIN_PASSWORD: "1234"

        #== Adminjs
        ADMIN_USERNAME: ""
        ADMIN_PASSWORD: ""
        SERVICE_TITLE: "Payment Admin"
        COMPANY_TITLE: "Company Name"
        COOKIE_NAME: ""
        COOKIE_PASSWORD: ""

        #== Iamport
        IMP_KEY: ""
        IMP_SECRET: ""

        #== Crypto
        CRYPTO_PRIVATE_KEY: ""

