option_settings:
    aws:elasticbeanstalk:application:environment:
        #== JWT Auth
        JWT_PRIVATE_KEY: ""
        JWT_PUBLIC_KEY: ""

        #== DB
        DB_HOST: "payment-pre.cgpsl36lesmh.ap-northeast-2.rds.amazonaws.com"
        DB_USERNAME: "nemo"
        DB_PASSWORD: "nemo0509!"
        DB_DATABASE: "payment"

        #== AWS
        AWS_S3_ACCESS_KEY_ID: ""
        AWS_S3_SECRET_ACCESS_KEY: ""

        #== Iamport
        IMP_KEY: "9054153131517867"
        IMP_SECRET: "PRaYnEMz75T3IgdHyYb7qjSM2vJwrkDgbOeys18A61DPiQxRPIZf1S23nMAO6d4h1jQukY4r0IhjzOao"

        #== Crypto
        CRYPTO_PRIVATE_KEY: "7728d33f6704573eb2208f1f9b65b9b416d02591bea0a5ed157a656b82f3b54f"
